<h5>Aplikasi: </h5>
<p>{{ NamaAplikasi }}</p>
<h5>Nama: </h5>
<p>{{ Nama }}</p>
<h5>Kelas: </h5>
<p>{{ Kelas }}</p>

<h1>Daftar Produk</h1>

<a href="{% url 'main:add_product' %}">
    <button type="button">Tambah Produk</button>
</a>
<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>
<h5>Sesi terakhir login: {{ last_login }}</h5>
<hr>
<a href="?filter=all">
    <button type="button">All Products</button>
</a>
<a href="?filter=my">
    <button type="button">My Product</button>
</a> 
<ul>
    {% for product in products %}
        <li>
            <img src="{{ product.thumbnail }}" width="100">
            <strong>{{ product.name }}</strong> - Rp{{ product.price }}
            ({{ product.category }}) | Stok: {{ product.stock }} |

            {% if product.is_featured %}
                <b>Featured</b>
            {% endif %}

            <a href="{% url 'main:detail_product' product.id %}">Detail</a>
        </li>
    {% endfor %}
</ul>

